html{
      font-family: tahoma;
      font-size: 11pt;
      margin:0;
      padding:0;
      }
body{
      margin: 0px;
      padding : 0px;
    background-image:url("img/bg.jpg");
      background-repeat:repeat-x;
      text-align:center;
      }
#bodyContent{
              width:850px;
              margin-top : 0px;
              margin-left: auto;
              margin-right: auto;
              }


/* ============= H E A D E R =============== */

#header{
         height : 205px;
         width : 100%;
         padding-top : 0;
         padding-bottom : 0;
         padding-right: 25px;
         /*background-color : white;*/
         text-align: right;
         }
#photo {
         text-align: left;
         }
#photo img{
            border-top: 3px solid #C8C8C8;
            border-left: 3px solid #C8C8C8;
            border-right: 3px solid #999999;
            border-bottom: 3px solid #999999;
            }
#infos{
       width: 100%;
       background-color : white;
       margin-right: 0px;
       border-top: 3px solid #C8C8C8;
       border-left: 3px solid #C8C8C8;
       border-right: 3px solid #999999;
       border-bottom: 3px solid #999999;
       }
#coord {
         text-align : left; 
         }
#nom {
       font-size : 16pt;
       text-align : center;
       }
#adr {
       text-align: center;
       }
#adr td{ vertical-align: top; }
#carte { 
         }
#mail{
       font-size:10pt;
       color:black;
       }
#cv{
       font-size:10pt;
       color:black;
       }
#languageSelection{
                    text-align:right;
                    margin-top:5px;
                    margin-right:10px;
                    }
/* =============== M A I N ================*/
#main{
       /*background-color : red;*/
       text-align:center;
       width:100%;
       margin-top: 20px;
       }

#content{
          text-align:left;
          margin-left : 50px;
          margin-right : 25px;
          background-color: white;
          border-left: 3px solid #C8C8C8;
          border-right: 3px solid #999999;
          border-bottom: 3px solid #999999;
          padding-top: 15px;
          padding-bottom:20px;
          padding-left: 40px;
          padding-right:40px;
          }
#content hr{
             border:6px double #cccccc;
             }
/* ---------- M A I N   C O N T E N T ------------ */

h1{
    padding-left : 10px;
    font-size:20px;
    border-bottom : 1px solid black;
    border-left : 1px solid black;
    }
h2{
    padding-left : 10px;
    margin-top : 30px;
    font-size:20px;
    border-bottom : 1px solid black;
    border-left : 1px solid black;
    }

#description{
              clear:left;
              }
/*------------------------ W 3 C ---------------------*/
#logos{
        width: 700px;
        padding-top:30px;
        float:left;
        }
#logos p{
          margin:0px;
          padding:0px;
          }
#logos img{
            margin-right:10px;
            border:none;
            }
#w3cvalidity{
              width:100%;
              text-align:right;
              display:inline;
              }
#w3cvalidity p{
                float:right;
                margin-top:50px;
                }
#w3cvalidity img{ 
                  border:none;
                  margin:0px;
                  padding:0px;
                  }
